.container{
    background-image: url("school.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
    padding-left: 10px;
    
}
.head{
    margin-right: 700px;
    color: blue;
    font-weight: lighter;
    padding-top: 10px;

}
.navigation{
    margin-left: 680px;   
    float:left;
    
}
a{
    text-decoration-line: none;
    padding: 1%;
    margin: 5px;
    margin-bottom: 1000px;

}
.button{
margin-left: 340px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    align-content:first baseline;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: orange;
    
}
.button2{
    padding:10px 35px ;
    border-radius:15px ;
    border: none;
    background-color: orange;
    color: white;
}
#h2{
font-weight: bold;
margin: 5px;
text-align: justify;
}
#h1{
    font-weight: lighter;
    margin: 5px;
}
